<script type="text/javascript">
    $(document).ready(function () {
        var options = {};
        var wizard = $("#some-wizard").wizard(options);
        wizard.show();
    });
</script>
<div class="wizard" id="some-wizard">

  <h1>Wizard Title</h1>

  <div class="wizard-card" data-cardname="card1">
    <h3>Card 1</h3>
    Some content
  </div>

  <div class="wizard-card" data-cardname="card2">
    <h3>Card 2</h3>
    Some other content
  </div>

</div>